body {
  background: rgb(255, 0, 0);
}
* {
  box-sizing: border-box;
}

body {


  margin: 0;
  height: 100vh;
  background: #fdf6e3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}


/* START SCREEN */
#start-screen {
  position: fixed;
  inset: 0;
  background: #fdf6e3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


#start-btn {
  padding: 14px 24px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background: #e76f51;
  color: white;
  cursor: pointer;
}

#start-btn:hover {
  opacity: 0.9;
}

/*Main content*/

.container {
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items: center;
}

/*Hide*/
.hidden {
  display: none;
}

h1 {
  margin-bottom: 40px;
  color: #444;
}
  

/* Cake */
.cake {
  position: relative;
  width: 220px;
  height: 120px;
  background: #d2691e;
  border-radius: 10px;
}

.cake-top {
  position: absolute;
  top: -20px;
  width: 100%;
  height: 40px;
  background: #f4a261;
  border-radius: 10px;
}

/* Candles */
.candles {
  position: absolute;
  top: -50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.candle {
  width: 10px;
  height: 40px;
  background: white;
  border-radius: 3px;
  position: relative;
}

/* Flame */
.flame {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 15px;
  background: orange;
  border-radius: 50%;
  animation: flicker 0.15s infinite alternate;
}

/* Flame animation */
@keyframes flicker {
  from {
    transform: translateX(-50%) scale(1);
    opacity: 0.9;
  }
  to {
    transform: translateX(-50%) scale(1.2);
    opacity: 1;
  }
  
}

/*Message*/
#message {
  margin-top: 30px;
  max-width: 320px;
  color: #555;
  opacity: 0;
  transition: opacity 1s ease;
}

 .hidden {
   display: none;
 }

 .show {
   display: block;
   opacity:1;
 }